body {
    background-color:rgb(0, 255, 200);
   font-family: 'Courier New', Courier, monospace;
}
#container{
   display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: lightseagreen;
}
footer {
    background-color: rgb(255, 145, 0);
    color: rgb(8, 5, 240);
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}